---
import DashboardPage from '../components/pages/DashboardPage';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>My Interviews</title>
	</head>
	<body style="margin: 0; padding: 0; background-color: #020617;">
        <DashboardPage client:only="react" />
	</body>
</html>